<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Siopy est un site de partage de ressources créé par Jocelyn Vourron destiné aux étudiants de BTS SIO du lycée condorcet de Belfort." />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <meta name="keywords" content="vourron jocelyn,vourron,jocelyn,siopy, sio py, siopy ressources"/>
    <meta name="robots" content="index, follow"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script type="application/ld+json">
    { "@context" : "https://www.siopy.fr",
      "@type" : "Organization",
      "legalName" : "Jocelyn Vourron",
      "url" : "https://www.siopy.fr/",
      "logo" : "https://siopy.fr/assets/svg_logo-32f790ea44da1f191e371c392facbe9ac1f0db21432785285935e0c422272605.svg",
      "sameAs" : [
        "https://twitter.com/Siopy__",
        "https://www.youtube.com/channel/UCBTG1-67WGRmiK0xazOcSpg"]
    }

    </script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= stylesheet_link_tag "datatables.min.css" %>
    <%= stylesheet_link_tag "mdb.min.css" %>
    <%= stylesheet_link_tag "application.css" %>


  </head>

  <body class="hidden-sn cyan-skin">
  <header>
    <div id="slide-out" class="side-nav sn-bg-4">
      <ul class="custom-scrollbar">
        <li>
          <div class="logo-wrapper waves-light">
            <a href="<%= root_path %>"><%= image_tag("logo.png", class: "img-fluid flex-center mt-2") %></a>
          </div>
        </li>
        <li>
          <ul class="social mt-3">
            <p style="font-size: 19px"><%t = Time.now %><%= t.strftime('%d/%m/%Y') %></p>
          </ul>
        </li>

        <li>
          <ul class="collapsible collapsible-accordion">
            <li><a class="collapsible-header waves-effect" href="<%= root_path %>"><i class="fa fa-home"></i>Page d'accueil</a>
            </li>

            <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-file"></i> Cours
              <i class="fa fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="<%= courses_path %>" class="waves-effect">Accéder aux cours</a>
                  </li>
                  <li><a href="<%= new_course_path %>" class="waves-effect">Mettre en ligne un cours</a>
                  </li>
                </ul>
              </div>
            </li>
            <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-pencil"></i>
              Devoirs<i class="fa fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="<%= works_path %>" class="waves-effect">Accéder aux devoirs</a>
                  </li>
                  <li><a href="<%= new_work_path %>" class="waves-effect">Mettre en ligne un devoir</a>
                  </li>
                </ul>
              </div>
            </li>

            <% if user_signed_in? %>
              <li><a class="collapsible-header waves-effect" href="<%= backupjv_path %>"><i class="fa fa-cloud"></i>Sauvegarde ancienne version</a>
              </li>
              <% if current_user.is_admin? %>
                <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-lock"></i>
                  Espace Administrateur<i class="fa fa-angle-down rotate-icon"></i></a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a href="<%= administration_path %>" class="waves-effect">Vérification des comptes</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <% end %>
            <% end %>
          </ul>
        </li>
      </ul>
      <div class="sidenav-bg mask-strong"></div>
    </div>

    <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
      <div class="float-left">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
      </div>
      <div class="breadcrumb-dn mr-auto">
        <p style="color: white">Siopy - Partage de ressources BTS SIO</p>
      </div>
      <ul class="nav navbar-nav nav-flex-icons ml-auto mr-1">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle waves-effect" href="#" data-toggle="dropdown" aria-expanded="false">
              Mon compte
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <p style="text-align: center; font-size: 14px;" class="mt-1"><%= current_user['username'] %></p>
              <hr>
              <%= link_to "Mon compte", moncompte_path, class: 'dropdown-item' %>
              <a class="dropdown-item" href="<%= edit_user_registration_path %>">Modifier mes informations</a>
              <%= link_to('Se déconnecter', destroy_user_session_path, method: :get, class: 'dropdown-item') %>
            </div>
          </li>

        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_registration_path %>"><i class="fa fa-user-plus"></i>
              <span class="clearfix d-none d-sm-inline-block">S'inscrire</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_session_path %>"><i class="fa fa-sign-in"></i>
              <span class="clearfix d-none d-sm-inline-block">Se connecter</a>
          </li>
          <% end %>
      </ul>
    </nav>
  </header>

  <main>
    <% if notice %>
    <div class="container-fluid mt-5 ml-2">
      <div class="container ">
          <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 60px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= notice %>
          </div>
      </div>
    </div>
    <% end %>

    <% if alert %>
      <div class="container-fluid mt-5 ml-2">
        <div class="container ">
          <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 60px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= alert %>
          </div>
        </div>
      </div>
    <% end %>
      </div>
      <br>
      <%= yield %>
    </div>
  </main>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <%= javascript_include_tag 'popper.min.js' %>
  <%= javascript_include_tag 'mdb.min.js' %>
  <%= javascript_include_tag 'datatables.min.js' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.1/flatpickr.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.1/l10n/fr.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.1/flatpickr.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
  <script>
      $(".button-collapse").sideNav();
      var sideNavScrollbar = document.querySelector('.custom-scrollbar');
      Ps.initialize(sideNavScrollbar);
      $('.mdb-select').material_select('destroy');
  </script>

  <script>
      $("#flatpickr-input").flatpickr({
          enableTime: false,
          dateFormat: "d F Y",
          locale: {
              firstDayOfWeek: 1,
              rangeSeparator: " au ",
              weekAbbreviation: "Sem",
              scrollTitle: "Défiler pour augmenter la valeur",
              toggleTitle: "Cliquer pour basculer",
              weekdays: {
                  shorthand: ['dim', 'lun', 'mar', 'mer', 'jeu', 'ven', 'sam'],
                  longhand: ['dimanche', 'lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi'],
              },
              months: {
                  shorthand: ['janv', 'févr', 'mars', 'Аvr', 'Маi', 'Juin', 'Juil', 'Аoût', 'Sept', 'Оct', 'Nov', 'Déc'],
                  longhand: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
              },
          },
      });
  </script>

  <script>
      new WOW().init();



      $(document).on("focus", "[data-behaviour~='datepicker']", function (e) {
          $(this).datepicker({"format": "dd-mm-yyyy", "weekStart": 1, "autoclose": true, "language": "fr"})
      });

          $(document).ready(function () {
              $('#lesCours').DataTable({
                  language: {
                      processing: "Traitement en cours...",
                      search: "Rechercher&nbsp;:",
                      lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                      info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                      infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                      infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                      infoPostFix: "",
                      loadingRecords: "Chargement en cours...",
                      zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                      emptyTable: "Aucune donnée disponible dans le tableau",
                      paginate: {
                          first: "Premier",
                          previous: "Pr&eacute;c&eacute;dent",
                          next: "Suivant",
                          last: "Dernier"
                      },
                      aria: {
                          sortAscending: ": activer pour trier la colonne par ordre croissant",
                          sortDescending: ": activer pour trier la colonne par ordre décroissant"
                      }
                  },
                  "lengthMenu": [[5,10, 25, 50], [5,10, 25, 50]]
              });
              $('.dataTables_length').addClass('bs-select');
          });

  </script>

  </body>
</html>
